@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
* {
  margin: 0 auto;
}
.hero-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: #F7EBEC;
}
.main-header {
  margin: 20px 0px 20px 20px;
  font-family: inter;
  color: #1D1E2C;
  font-size: 48px;
}
.header {
  padding-top: 20px;
  font-family: inter;
  color: #1D1E2C;
  font-size: 48px;
}
.hero-home h2 {
  font-family: inter;
  font-size: 24px;
}
.purpose {
  background-color: #AC9FBB;
}
.projects {
  background-color: #DDBDD5;
  height: fit-content;
  width: 100vw;
  font-family: inter;
  background-size: cover;  
}
.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.project-card{
  width: 40vw;
  height: 40vh;
  background-color: #1D1E2C;
  border-radius: 2em;
  padding: 2em;
}
.project-name {
  text-align: center;
  font-size: 32px;
  color:#fa8072;
}
.project-description {
  margin: 10px;
  color:aliceblue;
}
.project-link{
  margin: 10px;
  background-color: #fffbd5;
  color:black;
  padding: 0.8em;
  border: 1px solid var(--button-color);
  box-shadow: shadow(low);
  border-radius: 1rem;
  width: 8em;
  -webkit-transition: background-color 1s ease-in, color 1s ease-in; /* Safari */
  transition: background-color 1s ease-in, color 1s ease-in;
}
.project-link:hover{
  cursor: pointer;
  color: #fffbd5;
  background-color: black;
}
.icons {
  float: left;
  display: flex;
  justify-content: flex-start;
  margin-top: 2vh;
  text-align: left;
}
.icon {
  color: black !important;
  font-size: 45px;
}
.icon:hover {
  background-color: #ee4266;
  color: black;
}

a{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #fa8072;
}

footer {
  color:#fffbd5;
  text-align: center;
  font-family: inter;
  background-color: #1D1E2C;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}
.footer p{
  margin-right: 0px;
}
.footer img{
  width: 50px;
  height: 50px;
  margin-left: 0px;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .hero-home {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      background-color: #F7EBEC;
    }
    .main-header {
      margin: 20px 0px 20px 20px;
      font-family: inter;
      color: #1D1E2C;
      font-size: 2em;
    }
    .hero-home h2 {
      font-family: comfortaa;
    }
    .projects {
      background-color: #DDBDD5;
      height: auto;
      width: 100vw;
      font-family: inter;
      margin-bottom: -20px;
    }
    .projects-container {
      display: flex;
      flex-direction: column;
      margin: 10px auto
    }
    .web-dev {
      background-color: #DDBDD5;
      padding: 30px;
    }
    .socials {
      height: 100%;
    }
    #prevBtn {
      position: absolute;
      left: 0px;
      margin-top: 100px;
      width: 40px;
      height: 40px;
    }
    #nextBtn {
      position: absolute;
      right: 0px;
      margin-top: -200px;
      width: 40px;
      height: 40px;
    }
    #prevBtnG {
      position: absolute;
      left: 0px;
      margin-top: 100px;
      width: 40px;
      height: 40px;
    }
    #nextBtnG {
      position: absolute;
      right: 0px;
      margin-top: 100px;
      width: 40px;
      height: 40px;
    }
}
/*ipad media query*/ 
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .projects {
      height: auto;
      margin-bottom: -30px;
      padding: 10px auto;
    }
    .web-dev {
      margin-right: 10px;
      margin-left: -10px;
      margin-bottom: 10px;
    }
    .graphic-design {
      margin-bottom: 10px;
    }
}
/* ipad landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
}